---
layout: default
---

<div class="container">

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-12 col-md-6">
<h4> Recent Posts </h4>
    <ul>

    {% for post in paginator.posts %}
      <li>
      
        <h4>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} <small>{{ post.date | date: "%b %-d, %Y" }}</small></a>
        </h4>


      </li>
    {% endfor %}
  </ul>



<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>


</div>














  <div class="col-xs-12 col-md-6">
<h4> Launch update </h4>
    {% include progress.html %}

    <div class="alert alert-danger" role="alert"><p>Welcome to Life.Ceo. Over the next few weeks there will be many changes to this site.  I'm just getting started and in the midst of creating the site.  Although I will be adding real content soon, much of what is happening on this site in flux.  Keep watching to see the site take shape.</p></div>

      {% include contact-form.html %}

  </div>



</div>





</div> <!-- end of container -->


